/* Скидання стилів */
@import url("rezet.css");

/* Основні стилі */
body {
    font-family: "Lato ", sans-serif;
}
[class*="__container"] {
    max-width: 1410px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    max-width: 1920px;
    background-color: #ffffff;
}
.header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 100px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: black;
}
.main {
    width: 100%;
    text-align: center;
}
.main h2 {
    display: inline-block;
    margin-bottom: 72px;
}
.main__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.content-product__items {
    flex-basis: 440px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

.items-product__images {
    flex-basis: 440px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 574px;
    margin-bottom: 32px;
}
.items-product__img {
    display: inline-block;
}
.items-product__title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.items-product__quality {
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
}
.items-product__price {
    margin-bottom: 72px;
    font-size: 20px;
    font-weight: 700;
}
.choose {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.choose-items__block {
    flex-basis: 440px;
    flex-grow: 1;
    flex-shrink: 1;
}
.content-choose h3 {
    margin-bottom: 24px;
}
.items-img {
    margin-bottom: 24px;
}
.items-text {
    font-size: 16px;
    font-weight: 500;
    color: #7e7f7c;
    line-height: 20px;
    margin-bottom: 68px;
    display: inline-block;
}
