@font-face {
    font-family:"Lato";
    font-weight: 400;
    src: url("../fonts/Lato-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
         
}
@font-face {
    font-family:"Lato";
    font-weight: 500;
    src: url("../fonts/Lato-Medium.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
         
}
@font-face {
    font-family:"Lato";
    font-weight: 700;
    src: url("../fonts/Lato-Bold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
         
}
@font-face {
    font-family:"Lato";
    font-weight: 700;
    src: url("../fonts/lato.bold-italic.woff2") format("woff2");
    font-style: italic;
    font-display: swap;
         
}
@font-face {
    font-family:"Lato";
    font-weight: 800;
    src: url("../fonts/Lato-heavy.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
         
}