/* Скидання стилів */
@import url("reset.css");
@import url("fonts.css");

/* Основні стилі */
body {
    font-family: "Montserrat", sans-serif;
    background-color: aqua;
}
[class*="__container"] {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
    /* position: relative; */
}
.wrapper {
    max-width: 1630px;
    background-color: #ffffff;
    margin: 0 auto;
    padding-top: 30px;
}
.header{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 100px;
    z-index: 10;
}

.header-yoga__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.header-yoga__logo {
    width: 124px;
    z-index: 3;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}
.header-yoga__logo:hover {
    border-bottom: 2px solid #ba936f;
}
.yoga-hed__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 0;
}
.yoga-hed__a {
    font-size: 16px;
    font-weight: 400;
    color: #343434;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}
.yoga-hed__a:hover {
    color: #ba936f;
    border-bottom: 2px solid #ba936f;
}
.header-yoga__btn {
    width: 166px;
    height: 44px;
    font-size: 17px;
    font-weight: 500;
    z-index: 3;
}
.btn-yoga {
    background-color: #ba936f;
    border-radius: 15px;
    color: #ffffff;
    text-transform: capitalize;
    transition: all 0.5s;
}
.btn-yoga:hover {
    background-color: rgb(222, 182, 151);
    box-shadow: 2px 2px 3px rgb(226, 162, 131, 1.5);
    color: #ffffff;
}
.header-yoga__burger {
    display: none;
    z-index: 3;
}
@media (width <= 1000px) {
    .header__yoga {
        margin-bottom: 0px;
    }
}
@media (width <= 865px) {
    .header {
        position: fixed;
        margin-bottom: 20px;
    }
    .yoga-hed__ul {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: -30px;
        left: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        background-color: #ffffff;
        transition: all 0.5s;
        z-index: 2;
        padding-top: 60px;
    }
    .header-yoga__logo,
    .header-yoga__items {
        position: relative;
    }
    .yoga-hed__a {
        font-size: 34px;
        color: #ffffff;
        font-weight: 700;
    }
    .header-yoga__burger {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        margin-right: 10px;
        z-index: 5;
    }
    .header-yoga__burger span,
    .header-yoga__burger span::before,
    .header-yoga__burger span::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: #ba936f;
        transition: all 0.3s;
    }
    .header-yoga__burger span::before {
        position: absolute;
        top: 0;
    }
    .header-yoga__burger span::after {
        position: absolute;
        bottom: 0;
    }
    .header-yoga__burger span {
        margin-top: 45%;
    }
    [data-menu-open] .header-yoga__burger span {
        width: 0;
    }
    [data-menu-open] .header-yoga__burger span:before {
        top: 45%;
        rotate: -45deg;
    }

    [data-menu-open] .header-yoga__burger span:after {
        bottom: 45%;
        rotate: 45deg;
    }
    [data-menu-open] .yoga-hed__ul {
        left: 0;
        background-color: #544d46;
    }
}
@media (width <= 450px) {
    .header-yoga__btn {
        width: 100px;
        font-size: 14px;
    }
}

/* main yoga */

/* yoga content uniting */

.content-uniting {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 130px;
}
.main__background {
    display: none;
    position: absolute;
    display: block;
    width: 150px;
    top: -320px;
    right: -60px;
}
.content-uniting__items {
    max-width: 687px;
    z-index: 3;
}
.content-uniting__title {
    font-family: "Lora", sans-serif;
    color: #ba936f;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.content-uniting__text {
    max-width: 608px;
    margin-bottom: 59px;
    color: #343434;
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    z-index: 3;
}
.content-uniting__btn {
    width: 186px;
    display: flex;
    align-items: center;
}
.btn-uniting__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.btn-uniting__text:hover,
.btn-uniting__img:hover {
    color: #ba936f;
}
.btn-uniting__text {
    position: relative;
    color: #343434;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    left: -40px;
}
.btn-uniting__text::after {
    position: absolute;
    top: 2px;
    right: -30px;
    content: "";
    width: 25px;
    height: 25px;
    background: url("../img/right-arrow.svg");
}
.content-uniting__img {
    max-width: 486px;
}
.main__background2 {
    display: none;
    position: absolute;
    display: block;
    width: 150px;
    bottom: -30px;
    left: -120px;
}
@media (width <= 1000px) {
    .main-yoga__content {
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        margin-bottom: 0px;
    }
}
@media (width <= 800px) {
    .content-uniting__title {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .btn-uniting__img {
        width: 50px;
        height: 50px;
    }
    .btn-uniting__text {
        font-size: 15px;
        left: -20px;
    }
}

/* content practic  */

.content-practic {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 130px;
}
.content-practic__img {
    max-width: 600px;
}
.content-practic__items {
    max-width: 561px;
    padding-top: 63px;
}
.content-practic__title {
    font-size: 35px;
    font-family: "Lora", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ba936f;
    margin-bottom: 55px;
}
.content-practic__text {
    font-size: 19px;
    color: #343434;
    line-height: 27px;
    margin-bottom: 46px;
    z-index: 4;
}
.content-practic__subtext {
    font-size: 17px;
    line-height: 27px;
    color: #343434;
    margin-bottom: 43px;
}
.content-practic__subtext span {
    color: #ba936f;
}
.content-practic__btn {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 40px;
    letter-spacing: 2px;
}
@media (width <= 1110px) {
    .content-practic__items {
        padding-top: 0;
    }
    .content-practic__title {
        margin-bottom: 25px;
    }
    .content-practic__text {
        margin-bottom: 26px;
    }
}
.main__background3 {
    display: none;
    position: absolute;
    display: block;
    width: 150px;
    bottom: 0%;
    right: -60px;
    z-index: 0;
}

/* content our */
.content-our__title {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ba936f;
    font-family: "Lora", sans-serif;
    margin-bottom: 32px;
}
.content-our__text {
    max-width: 839px;
    font-size: 17px;
    font-weight: 400;
    color: #343434;
    line-height: 27px;
    margin-bottom: 41px;
    z-index: 4;
}
.content-our__gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media (width <= 1000px) {
    .content-practic {
        margin-bottom: 0px;
    }
    .content-our__gallery {
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        margin-bottom: 0px;
    }
}
.gallery-our__items {
    max-width: 385px;
    margin-bottom: 20px;
}
.item-our__img {
    margin-bottom: 14px;
}
.item-our__title {
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    color: #ba936f;
    font-family: "Lora", sans-serif;
}
@media (width <= 1000px) {
    .yoga__content {
        margin-bottom: 0px;
    }
    .content-our__gallery {
        padding-top: 10px;
    }
}

/* content join */

.content-join__title {
    max-width: 515px;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ba936f;
    line-height: 45px;
    font-family: "Lora", sans-serif;
    margin-bottom: 16px;
}
.content-join__text {
    max-width: 839px;
    font-size: 17px;
    font-weight: 400;
    color: #343434;
    line-height: 27px;
    letter-spacing: 1px;
    margin-bottom: 41px;
}
.content-join__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.table-join__table {
    width: 664px;
    padding-top: 89px;
}
.table-join__tr:first-child {
    border-top: 2px solid #ba936f;
}
.table-join__tr {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #ba936f;
    padding: 15px 0;
}
.table-join__text {
    font-size: 17px;
    font-weight: 400;
    color: #343434;
    line-height: 27px;
    text-transform: uppercase;
}
.items-join__img {
    max-width: 503px;
}
@media (width <= 1180px) {
    .table-join__table {
        max-width: 664px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .content-join__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (width <= 700px) {
    .table-join__table {
        max-width: 464px;
    }
    .content-join__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (width <= 500px) {
    .table-join__table {
        max-width: 300px;
    }
    .table-join__text {
        font-size: 10px;
    }
}

/* footer */
.footer{
    width: 100%;
    height: 100px;
    background-color: #fdefe6;
    text-align: center;
    padding-top: 45px;
}
.footer-yoga__text {
    font-size: 15px;
    color: #343434;
}
