/* Скидання стилів */
@import url("rezet.css");

/* Основні стилі */
body {
    font-family: "Montserrat ", serif;
    background-color: #cecece;
}
.container{
    width: 1422px;
    margin: 0 auto;
    padding: 0 15px;
}
