/* Скидання стилів */
@import url("rezet.css");

/* Основні стилі */
body {
    font-family: "Lato", serif;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.cont {
    color: blue;
    margin-bottom: 72px;
}
.h1__title {
    margin-bottom: 72px;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: #000;
}
.section {
    max-width: 1200px;
    margin: 68px -15px;
    font-size: 0;
}
.carts {
    width: 33.3333%;
    display: inline-block;
    padding: 40px 15px 0;
    
}
[class^="carts"] {
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    color: #000;
}
.carts__img {
    display: block;
    margin: 0 auto;
    margin-bottom:24px;
}
.carts__title {
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.carts p{
    font-weight: 400;
    margin-bottom: 62px;
}

