*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
*::after,
*::before {
   display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
li {
    list-style: none;
    cursor: pointer;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
html,
body {
    height: 100%;
    line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}
div{
    display: block;
    unicode-bidi: isolate;
}
picture,
source{
    padding: 0;
    margin: 0;
}
