/* Скидання стилів */
@import url("rezet.css");

/* Основні стилі */
body {
    font-family: "Lato", serif;
    font-weight: 400;

    color: #000000;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 80px;
    padding: 72px 264px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
}
.header__logo {
    width: 200px;
    height: 42px;
    background-image: url(../img/Logo.svg);
    gap: 40px;
}
.header__menu {
    width: 200px;
}
.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.header__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.main {
    width: 100%;
    background-color: #d9d9d9;
}
.main__container {
    width: 100%;
    height: 612px;
    background-image: url(../img/main_fon.png);
    display: flex;
    justify-content: flex-end;
    padding: 114px 364px 0px 0;
    gap: 100px;
}
.main__content {
    width: 520px;
}
.main__subtitle {
    width: 520px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}
.main__title {
    width: 520px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 96px;
    margin: 20px 0px 16px;
}
.main__title-color{
      font-weight: 700;
}
.main__separator {
    width: 308px;
    height: 1px;
    background-color: #000000;
    margin-bottom: 32px;
}
.main__description {
    width: 520px;
    font-weight: 400;
    margin-top: 20px;
    color: #7e7f7c;
}
.main__carts {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main__cart {
    width: 351px;
    height: 590px;
    background-color: aliceblue;
    padding: 0 40px;
    border-radius: 8px;
    margin: 100px 0;
}
.main__cart-title {
    font-weight: 600;
    margin: 40px 0 17px;
}
.main__cart-grup {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.main__cart-price {
    font-family: "open sans", serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

.main__cart-subtitle {
    font-weight: 600;
    margin-bottom: 8px;
}
.main__cart-text {
    font-size: 12px;
    font-weight: 400;
    color: #7e7f7c;
    margin-bottom: 24px;
    line-height: 16px;
}
.main__cart-separator {
    width: 47px;
    height: 4px;
    background-color: #31a0fe;
    margin: 17px 0;
}

.main__cart-ul {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 14px;
}
.main__cart-li {
    background: url(../img/Check_li1.svg) 0 0 no-repeat;
    margin: 19px 0;
    min-height: 32px;
    padding-left: 40px;
    line-height: 2.5;
}
.main__cart-li2 {
    background: url(../img/Check_li2.svg) 0 0 no-repeat;
    margin: 19px 0;
    min-height: 32px;
    padding-left: 40px;
    line-height: 2.5;
}
.main__cart-button {
    width: 271px;
    height: 40px;
    border: solid 1px #000000;
    border-radius: 20px;
    margin-top: 17px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.footer__text {
    width: 100%;
    height: 60px;
    background-color: darkgray;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #090909;
}



