/* Скидання стилів */
@import url("rezet.css");

/* Основні стилі */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #000000;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.hero {
    max-width: 1920px;
    background-color: #d9d9d9;
    padding-bottom: 15px;
}
.hero__container {
    background-image: url(../img/main_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 114px 0 110px 0;
    margin-bottom: 20px;
}
.hero__content {
    max-width: 650px;
    margin-left: auto;
    text-align: left;
}
.hero__subtitle {
    max-width: 520px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

.hero__title {
    max-width: 520px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 96px;
    margin-bottom: 16px;
}
.hero__content span {
    font-weight: 700;
    display: inline-block;
}
.hero__separator {
    max-width: 308px;
    height: 1px;
    background-color: #000000;
    margin-bottom: 32px;
}
.hero__content p {
    max-width: 370px;
    font-weight: 500;
    color: #7e7f7c;
}
.hero__cart-ul {
    max-width: 351px;
    margin: 0 auto;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 15px;
    text-align: left;
    border-radius: 8px;
}
.hero__cart-ul li:last-child {
    margin-bottom: 0;
}
.hero__cart-li {
    background: url(../img/Check_li1.svg) 0 0 no-repeat;
    margin-bottom: 19px;
    min-height: 32px;
    padding-left: 40px;
    line-height: 1.5;
}
.hero__cart-li2 {
    background: url(../img/Check_li2.svg) 0 0 no-repeat;
    margin-bottom: 19px;
    min-height: 32px;
    padding-left: 45px;
    line-height: 1.5;
}
